@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100&family=Satisfy&display=swap');

/* font-family: 'Satisfy', cursive; */

html, body {
    margin: 0;
    height: 100%;
    font-family: 'Antonio', sans-serif;
    background-color: #f5cac3ff;
}

form {
    margin: 50px auto;
    width: 90%;
}


nav {
    flex-basis: 20%;
    display: flex;
    flex-direction: row;
}

a, p {
    margin: 2px;
    text-decoration: none;
    color: #84a59dff;
    font-weight: 550;
}

h2 {
    font-family: 'Antonio', sans-serif; 
    color: #f7ede2ff;
}

h3 {
    font-family: 'Antonio', sans-serif; 
    color: #f7ede2ff;
    margin: 0;
    font-size: small;
    font-weight: 100;
}

label {
    font-family: 'Antonio', sans-serif; 
    color: #84a59dff;
}

a:hover {
    /* border: 2px solid #f28482ff; */
    /* background-color: #F0F7F4; */
    color: #f28482ff;
    font-size: 110%;
    font-weight: 900;
}

#username {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 5%;
    padding-top: 1vw;
    padding-bottom: 1vw;
    font-family: 'Antonio', sans-serif; 
    color: #84a59dff;
}

#password {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 5.5%;
    padding-bottom: 1vw;
    font-family: 'Antonio', sans-serif;
    color: #84a59dff;
}

button {
    border: 2px solid #F0F7F4;
    background-color: #84a59dff;
    color: #F0F7F4;
    padding: 0.5%;
    font-size: 90%;
    font-family: 'Antonio', sans-serif;
    width: 15%;
}

button:hover {
    border: 2px solid #f28482ff;
    background-color: #F0F7F4;
    color: #f28482ff;
    font-size: 90%;
}



/* CSS HEX:
o Maximum-yellow-red: #f6bd60ff
o Linen: #f7ede2ff
o Baby-pink: #f5cac3ff
o Morning-blue: #84a59dff
o Light-coral: #f28482ff */