@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100&family=Satisfy&display=swap');


html, body {
    margin: 0;
    height: 100%;
    font-family: 'Antonio', sans-serif;
    background-color: #f6bd60ff;
}

form {
    margin: 50px auto;
    width: 90%;
}


nav {
    flex-basis: 20%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: flex-end;
}

a, p {
    margin: 2px;
    text-decoration: none;
    color: #84a59dff;
}

h2 {
    font-family: 'Antonio', sans-serif; 
    color: #cfb7c3;
}

h3 {
    font-size: 2rem;
    margin: 0;
}

#username {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 5%;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    font-family: 'Satisfy', cursive;
}

#password {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 5.5%;
    padding-bottom: 1.5vw;
    font-family: 'Barlow Condensed', sans-serif;
}

button {
    border: 2px solid #F0F7F4;
    background-color: #D9EBE2;
    padding: 0.25%;
    font-size: 75%;
    font-family: 'Barlow Condensed', sans-serif;
    width: 10%;
}

button:hover {
    border: 2px solid #94c7af;
    background-color: #D9EBE2;
    color: #94c7af;
    font-weight:900;
    font-size: 0.5em;
}

/* header {
    display: flex;
    justify-content: space-between; 
} */

/* header h1 {
    font-size: 3.5vw;
    margin: 5px;;
    color: #E9BCBF;
    padding: 0.3em;
    padding-left: 1em;
    font-family: 'Parisienne', cursive;
} */




.form-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.form-item label {
    flex-basis: 150px;
    font-size: 2.5vw;
}

.form-item input,
.form-item textarea {
    flex-basis: 50%;
    border: 2px solid #94c7af;
}

.form-item input:hover,
.form-item textarea:hover {
    border: 2px solid #94c7af;
}

.form-item input,
.form-item textarea,
.form-item button {
    border: 2px solid #F0F7F4;
    background-color: #D9EBE2;
    padding: 0.25%;
    font-size: 75%;
    font-family: 'Barlow Condensed', sans-serif;
}

.form-item button:hover {
    border: 2px solid #94c7af;
    background-color: #D9EBE2;
    color: #94c7af;
    font-weight:900;
    font-size: 0.5em;
}

.form-item button {
    width: 10%;
}

footer {
    font-size: 3vw;
    text-align: center;
    color: #efc7c7;
    font-family: 'Parisienne', cursive;
}


/* CSS HEX:
o Maximum-yellow-red: #f6bd60ff
o Linen: #f7ede2ff
o Baby-pink: #f5cac3ff
o Morning-blue: #84a59dff
o Light-coral: #f28482ff */